@import "_variable.scss";

.cat {
  height: 20rem;
  transition: all 0.3s;
  border-radius: 50%;
  position: relative;
  margin: 2rem;
}

.cat:hover {
  filter: blur(30px);
  transform: scale(1.3);
}
