@import "_variable.scss";

.dimension {
  width: 30rem;
  height: 30rem;
  margin: 2rem auto 4rem auto;
  perspective: 100rem; //gives 3d items some perspective; the value given defines how far away the item will be so the lower the value is, the more intense the 3d perspective will be
}

.dimension img {
  display: block;
  width: 100%;
  height: 100%;
  transform-style: preserve-3d; //preserves the 3d transformation
  transform: rotateX(80deg);
  transition: all 0.5s;
}

.dimension img:hover {
  transform: rotateX(10deg);
}
.dimension img:after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 4rem;
  transform: rotateX(50deg);
}
