@import "_variable.scss";
@import "_btn.scss";
@import "_cat.scss";
@import "_frog.scss";
@import "_dimension.scss";
@import "_rotate.scss";

.container {
  width: 80vw;
  margin: 1rem auto;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 1rem;
  font-size: 1.5rem;
  align-items: center;
  text-align: center;
}
